<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autoclicker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission  android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoClicker"
        android:requestLegacyExternalStorage="true">
    >
        <service
            android:name=".Camera2Service"
            android:enabled="true" >
        </service>
        <receiver android:name="com.example.autoclicker.AlarmReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="clicked" />
            </intent-filter>
        </receiver>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" android:exported="true"/>
                />
                <category android:name="android.intent.category.LAUNCHER" android:exported="true" />
            </intent-filter>
        </activity>
    </application>

</manifest>